---
---
<div class="text-justify">
  {{reference | replace_first: 'Beraldo e Silva L', '<b>Beraldo e Silva L</b>'}}
  {% if entry.adsurl %}
  [<a href="{{ entry.adsurl }}">ads</a>]
  {% endif %}
</div>
<!-- <div> -->
<!--   <\!-- {% if entry.doi %} -\-> -->
<!--   <\!-- <span><a href="{{ entry.doi | prepend: 'http://doi.org/' }}">doi</a></span> -\-> -->
<!--   <\!-- {% endif %} -\-> -->
<!--   {% if entry.adsurl %} -->
<!--   <a href="{{ entry.adsurl }}">ads</a> -->
<!--   {% endif %} -->
<!-- </div> -->
